

.container7 {
  width: 300px;
  height: 400px;
  perspective: 1000px;
margin-right: auto;
margin-left: auto;
margin-top: 5%;
margin-bottom: 5%;


}

.card7 {
	transform-style: preserve-3d;
  transform: rotateZ(-1deg);
  transition: 1.5s;
	
}

.page {
	height: 400px;
	width: 300px;
	background: white;
	margin-top: 2%;
	position: absolute;
  transform-origin: left;
	border: 2px solid black;
	transition: 1.7s;
  text-align: center;
  box-shadow: 0 0 10 black;
}



.page3{
  text-align: center;
  background: white;
}

.page4 {
background: white;
color: black;
font-weight: bold;
font-family: Brush Script MT, Brush Script Std, cursive;
text-align: center;



}

.first {
font-family: cursive;
text-align: center;
padding-top: 45%;
font-size: 50px;
letter-spacing: 4px;

}

.page2 {

background: white;
text-align: center;


}

.page5 {
  transform: rotateY(-25deg);
}






@media(max-width: 768px) {
  .container7 {
    margin-left: 24%;
    transform: scale(0.7);
  }
}